# **DataScienceAssignment-IBM**
---

In this notebook, We'll talk a little bit about Data Science.
I have passion about the world of data, as it can be the solution for almost everything, if we can manage and use the correct tools on the right data, we will find answers always.

---

## **Objectives:**
* List popular languages for Data Science.
* List common used libraries by Data Scientists.
* List Data Science Tools Table.
* Perform simple arithmatic expressions.

---

### Some of the popular languages that Data Scientists use are:
1. **Python**
2. **R**
3. **SQL**
4. **Scala**

And much more can be listed.

---

### Some of the commonly used libraries used by Data Scientists include:
1. **Numpy**
2. **Pandas**
3. **Matplotlib**
4. **Scikit-learn**
5. **ggplot**
6. **Caret**
And much more can be listed.

---

| Data Science Tools |
| -------------|
| Hadoop |
| Spark |
| KNIME |

---
### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ameer Alzerei